/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */   
:root {
    --brand-color: #E28413;
    --dark-color: #000022;
    --mid-color: #B09F8B;
    --light-color: #FFFAF3;
    --blue-light-color: #8ecae6;
    --blue-mid-color: #219ebc;
      }
  
/* Fonts */

@font-face {
	font-family: 'icon-worksregular';
	src: url('../fonts/icon-works/icon-works-webfont.eot');
	src: url('../fonts/icon-works/icon-works-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon-works/icon-works-webfont.woff') format('woff'),
		url('../fonts/icon-works/icon-works-webfont.ttf') format('truetype'),
		url('../fonts/icon-works/icon-works-webfont.svg#icon-worksregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/poppins/Poppins-Regular.otf");
  }

  @font-face {
    font-family: 'Droid-Serif';
    src: url("../fonts/droid-serif.regular.ttf");
  }

  @font-face {
    font-family: 'PencilChild';
    src: url("../fonts/bobamilky/PencilChild.otf");
  }

  /* ==========================================================================
   Navbars
   ========================================================================== */
  .header-navbar {
    min-width: 300px;
    max-width: 500px;
    background-color: var(--mid-color);
    border-radius:25px;
  }

   .footer-navbar {
    position: fixed;
    bottom:10px;
    min-width: 300px;
    max-width: 500px;
    background-color: var(--mid-color);
    border-radius:25px;
   }

   .navbar a > .icon {
    color:var(--light-color);
    font-size: 2em;
    padding:0px 5px;
   }

   .navbar a  {
    font-size: 10px;
    color:var(--light-color);
   }

   .navbar a:hover, .navbar a > .icon:hover {
    color: var(--brand-color);
    text-decoration: none;
   }

   /* ==========================================================================
   Typography
   ========================================================================== */

   .title-sketch-highlight{
    position:relative;
    
  }

    .title-sketch-highlight:before{
      content:"";
      z-index:-1;
      left:-0.5em;
      top:0.1em;
      border-width:2px;
      border-style:solid;
      border-color:#ef8c22;
      position:absolute;
      border-right-color:transparent;
      margin-left:43%;
      width:200px;
      height:1em;
      transform:rotate(2deg);
      opacity:0.7;
      border-radius:50%;
      padding:0.1em 0.25em;
    }

    .title-sketch-highlight.big-title::before {
      width:400px !important;
      margin-left:35% !important;
    }
    .title-sketch-highlight:after{
      content:"";
      z-index:-1;
      left:-0.5em;
      top:0.25em;
      padding:0.1em 0.25em;
      border-width:2px;
      border-style:solid;
      border-color:#ef8c22;
      border-left-color:transparent;
      border-top-color:transparent;
      position:absolute;
      margin-left:43%;
      width:200px;
      height:1em;
      transform:rotate(-1deg);
      opacity:0.7;
      border-radius:50%;
    }
    .title-sketch-highlight.big-title::after {
      width:400px !important;
      margin-left:35% !important;
      top:0.4em !important;
    }

    @media only screen and (max-width:768px) {
      .title-sketch-highlight:after, .title-sketch-highlight:before{
        margin-left:28%;
      }
      .title-sketch-highlight.big-title::before, .title-sketch-highlight.big-title::after {
        margin-left:1% !important;
       
      }
    }

      /* ==========================================================================
   Illustrations
   ========================================================================== */
   
  img.page-top-illustration {
    height: auto;
    width:400px;
    max-width:90%;
  }
    /* ==========================================================================
   Profile
   ========================================================================== */

   .profile-minicard {
    display: inline-block;
    font-size:12px;
   }

   .profile-minicard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
   }

   .profile-miniminicard img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
   }

   .profile-miniminicard {
    display: inline-block;
    font-size:10px;
   }

      /* ==========================================================================
   Infos
   ========================================================================== */
   
   .amount-info {
    background-color: var(--dark-color);
    color: var(--light-color);
    width: fit-content;
    margin: 0px auto;
    padding:5px 10px;
    border-radius:20px;
   }

  .chart-container {
    width: 400px;
    height: 400px;
    margin:20px auto;
  }

  @media only screen and (max-width: 768px){
    .chart-container {
      
      width: 300px;
      height: 300px;
    }
  }

   /* ==========================================================================
   Card Details
   ========================================================================== */

   .details-card{
    /* border:1px solid var(--dark-color);
    border-radius:20px;
    box-shadow: 4px 4px 4px var(--dark-color); */
    position: relative;
    margin:5px;
    padding:20px 10px;
   }

   .kborder-bottom {
    border-bottom: 4px solid var(--dark-color);
    position:absolute;
    left: 25%;
    right: 25%;
   }

   

   .details-card > .profile-minicard img {
    width: 50px;
    height: 50px;
   }

   .details-card > .profile-minicard > p.amount-info {
    padding:5px 5px !important;
   }

   img.profile-table {
     width:20px;
     height: 20px;
      border-radius:50%;
   }

   .details-card > table {
    font-size: 12px;
   }

  .table thead th, .table th {
    border-bottom: none !important;
    border-top: none !important;
  }

 
  
  .paper {
   
    margin: 5px auto;
    padding-top: 10px;
    position: relative;
  }

  .paper-rounded {
    background: #e5e5e5;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
  }

  .trip-card {
    border-bottom: 4px dashed var(--brand-color);
    margin-left: 50px;
    padding-bottom:10px;
    
  }

  .trip-card::before{
    content:'';
    background:url("/static/assets/img/trip_icon.png") no-repeat center center/contain;
    position: absolute;
    bottom:40px;
    left:10px;
    height: 40px;
    width: 40px;

  }

  .trip-card  p.date-info {
    font-size:10px;
  }

  .trip-card p.amount-info {
    font-size:10px !important;
  }

  fieldset.counter {
    border:2px solid var(--dark-color);
    padding:0px 3px;
    
  }

  fieldset.counter > legend {
    font-size:9px;
    color: var(--dark-color);
    width:fit-content;

  }

  fieldset.counter > p {
    color:var(--dark-color);
    margin-bottom: 0px !important;
  }


  /* ==========================================================================
   Post It
   ========================================================================== */

   div.post-it-container{
    position:fixed;
    top:100px;
    left:0;
    z-index: 10;
   }

   .post-it {
    width: 250px;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    padding: 20px;
    border-radius: 0 0 0 30px/45px;
    box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.2),
      inset 0 25px 10px rgba(0, 0, 0, 0.2), 0 5px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'PencilChild', 'Comic Sans MS', 'Helvetica Neue';
    line-height: 1.7em;
    font-size: 19px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  
    
  }

  .post-it:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 25px;
    background: var(--dark-color);
    box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.2),
      inset 15px -15px 15px rgba(0, 0, 0, 0.3);
    left: 0;
    bottom: 0;
    z-index: 2;
    transform: skewX(25deg);
  }
  
  .post_it-sender {
    padding-bottom:30px;
    margin-top:20px;
    width: 55%;
    height: 20px;
    border-bottom: 3px solid var(--dark-color);
    transform: rotate(350deg);
    
    
  }

  .post-it-edit {
    width:50px;
    background-color: var(--mid-color);
    border-radius: 10px;
    padding:0 5px;
  }

  .post-it-edit a{
    color:var(--light-color);
  }

  .post-it-edit a:hover{
    color:var(--brand-color);
  }