/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */   
:root {
    --brand-color: #E28413;
    --dark-color: #000022;
    --mid-color: #B09F8B;
    --light-color: #FFFAF3;
    --blue-light-color: #8ecae6;
    --blue-mid-color: #219ebc;
      }
  
/* Fonts */

@font-face {
	font-family: 'icon-worksregular';
	src: url('../fonts/icon-works/icon-works-webfont.eot');
	src: url('../fonts/icon-works/icon-works-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon-works/icon-works-webfont.woff') format('woff'),
		url('../fonts/icon-works/icon-works-webfont.ttf') format('truetype'),
		url('../fonts/icon-works/icon-works-webfont.svg#icon-worksregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/poppins/Poppins-Regular.otf");
  }

  @font-face {
    font-family: 'Droid-Serif';
    src: url("../fonts/droid-serif.regular.ttf");
  }

  @font-face {
    font-family: 'PencilChild';
    src: url("../fonts/bobamilky/PencilChild.otf");
  }

  /* ==========================================================================
   Navbars
   ========================================================================== */
  .header-navbar {
    position:fixed;
    width: 100%;
    background-color: var(--mid-color);
    z-index: 20;
  }

  @media screen and (min-width:768px) {
    .header-navbar {
      margin-top:20px;
      min-width: 300px;
      max-width: 500px;
      border-radius:25px;
    }

    .footer-navbar {
      margin-bottom: 20px;
    }
    
  }

   .footer-navbar {
    position: fixed;
    bottom:0px;
    min-width: 300px;
    max-width: 500px;
    background-color: var(--mid-color);
    border-radius:25px;
    z-index: 30;
   }

   .footer-navbar.bordered {
    border:2px solid var(--brand-color);
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
   }

   .navbar a > .icon {
    color:var(--light-color);
    font-size: 2em;
    padding:0px 5px;
   }

   .navbar a  {
    font-size: 10px;
    color:var(--light-color);
    z-index: 1000;
   }

   .navbar a:hover, .navbar a > .icon:hover {
    color: var(--brand-color);
    text-decoration: none;
   }

 

   /*
 * SLIDING MENU PANEL
 */
.menu__slide {
  position: absolute;
  top:0;
  left: -60%;
  
  color: #005c9c;
  opacity: 0;
  background-color: var(--mid-color);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  
  height: 100vh;
  padding: 100px 50px 10px 5px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.cost__slide {
  position: absolute;
  margin-bottom:-300px;
  padding-bottom:50px;
  transition: 300ms top cubic-bezier(0.77, 0, 0.175, 1);
}

.cost__slide.active{
  margin-bottom: 150px;
}
@media only screen and (max-width: 600px) {
  .menu__slide {
    width: 250px;
    left: -250px;
    padding: 80px 50px 10px 15px;
  }
}
.menu__slide.active {
  left: 0;
  opacity: 1 !important;
}
.menu__slide p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.slide-item {
  display: block;
  padding:5px;
}

.cost__slide__item {
  display: block;
  background-color: var(--mid-color);
  
  height: 50px;
  width: 50px;
  border-radius:50%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  
}

a.cost__slide__item {
  text-align: center;
}

    /* ==========================================================================
   Layouts
   ========================================================================== */

   .col-md-6 {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
   }

  
   

   /* ==========================================================================
   Typography
   ========================================================================== */

   .title-sketch-highlight{
    position:relative;
    
  }

    .title-sketch-highlight:before{
      content:"";
      z-index:-1;
      left:-0.5em;
      top:0.1em;
      border-width:2px;
      border-style:solid;
      border-color:#ef8c22;
      position:absolute;
      border-right-color:transparent;
      margin-left:28%;
      width:50%;
      height:1em;
      transform:rotate(2deg);
      opacity:0.7;
      border-radius:50%;
      padding:0.1em 0.25em;
    }

    .title-sketch-highlight.big-title::before {
      width:100% !important;
      margin-left:0% !important;
      
    }
    .title-sketch-highlight:after{
      content:"";
      z-index:-1;
      left:-0.5em;
      top:0.3em;
      padding:0.1em 0.25em;
      border-width:2px;
      border-style:solid;
      border-color:#ef8c22;
      border-left-color:transparent;
      border-top-color:transparent;
      position:absolute;
      margin-left:28%;
      width:50%;
      height:1em;
      transform:rotate(-1deg);
      opacity:0.7;
      border-radius:50%;
    }
    .title-sketch-highlight.big-title::after {
      width:100% !important;
      margin-left: 0% !important;
      
    }

    @media only screen and (max-width:768px) {
      .title-sketch-highlight:after, .title-sketch-highlight:before{
        margin-left:28%;
      }
      .title-sketch-highlight.big-title::before, .title-sketch-highlight.big-title::after {
        margin-left:1% !important;
       
      }
    }

      /* ==========================================================================
   Illustrations
   ========================================================================== */
   
  img.page-top-illustration {
    height: auto;
    width:400px;
    max-width:90%;
  }

  img.form-top-illustration {
    height: auto;
    width:250px;
    max-width: 60%;
  }
    /* ==========================================================================
   Profile
   ========================================================================== */

   .profile-minicard {
    display: inline-block;
    font-size:12px;
   }

   .profile-minicard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
   }

   .profile-miniminicard img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
   }

   .profile-miniminicard {
    display: inline-block;
    font-size:10px;
   }

      /* ==========================================================================
   Infos
   ========================================================================== */
   
   .amount-info {
    background-color: var(--dark-color);
    color: var(--light-color);
    width: fit-content;
    margin: 0px auto;
    padding:5px 10px;
    border-radius:20px;
   }

   a.amount-info:hover{
    background-color: var(--brand-color);
    color:var(--light-color);
    text-decoration: none;
   }

  .chart-container {
    width: 400px;
    height: 400px;
    margin:20px auto;
  }

  @media only screen and (max-width: 768px){
    .chart-container {
      
      width: 300px;
      height: 300px;
    }
  }

   /* ==========================================================================
   Card Details
   ========================================================================== */

   .details-card{
    /* border:1px solid var(--dark-color);
    border-radius:20px;
    box-shadow: 4px 4px 4px var(--dark-color); */
    position: relative;
    margin:5px;
    padding:20px 10px;
   }

   .kborder-bottom {
    border-bottom: 4px solid var(--dark-color);
    position:absolute;
    left: 25%;
    right: 25%;
   }

   

   .details-card > .profile-minicard img {
    width: 50px;
    height: 50px;
   }

   .details-card > .profile-minicard > p.amount-info {
    padding:5px 5px !important;
   }

   img.profile-table {
     width:20px;
     height: 20px;
      border-radius:50%;
   }

   .details-card > table {
    font-size: 12px;
   }

  .table thead th, .table th {
    border-bottom: none !important;
    border-top: none !important;
  }



  
  
  .paper {
   
    margin: 5px auto;
    padding-top: 10px;
    position: relative;
  }

  .paper-rounded {
    background: #e5e5e5;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 105px 15px;
  }

  .trip-card {
    border-bottom: 4px dashed var(--brand-color);
    margin-left: 50px;
    padding-bottom:10px;
    
  }

  .trip-card::before{
    content:'';
    background:url("/static/assets/img/trip_icon.png") no-repeat center center/contain;
    position: absolute;
    bottom:40px;
    left:10px;
    height: 40px;
    width: 40px;

  }

  .trip-card  p.date-info {
    font-size:10px;
  }

  .trip-card p.amount-info {
    font-size:10px !important;
  }

  fieldset.counter {
    border:2px solid var(--dark-color);
    padding:0px 3px;
    
  }

  fieldset.counter > legend {
    font-size:9px;
    color: var(--dark-color);
    width:fit-content;

  }

  fieldset.counter > p {
    color:var(--dark-color);
    margin-bottom: 0px !important;
  }

   /* ==========================================================================
   Calendar
   ========================================================================== */

   .fc-event-img {
    display: inline;
    padding: 0 5px;
   }

  img.profile-calendar {
    width:20px;
    height: 20px;
    border-radius: 50%;
    
  }

  /* ==========================================================================
   Post It
   ========================================================================== */

   div.post-it-container{
    position:fixed;
    top:100px;
    left:0;
    z-index: 10;
   }

   .post-it {
    width: 250px;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    padding: 20px;
    border-radius: 0 0 0 30px/45px;
    box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.2),
      inset 0 25px 10px rgba(0, 0, 0, 0.2), 0 5px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'PencilChild', 'Comic Sans MS', 'Helvetica Neue';
    line-height: 1.7em;
    font-size: 19px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); ;
    
  }

  .post-it:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 25px;
    background: var(--dark-color);
    box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.2),
      inset 15px -15px 15px rgba(0, 0, 0, 0.3);
    left: 0;
    bottom: 0;
    z-index: 2;
    transform: skewX(25deg);
  }
  
  .post_it-sender {
    padding-bottom:30px;
    margin-top:20px;
    width: 55%;
    height: 20px;
    border-bottom: 3px solid var(--dark-color);
    transform: rotate(350deg);
    
    
  }

  .post-it-edit {
    width:80px;
    background-color: var(--mid-color);
    border-radius: 10px;
    padding:0 5px;
  }

  .post-it-edit a{
    color:var(--light-color);
  }

  .post-it-edit a:hover{
    color:var(--brand-color);
  }

  .tooltip-inner {
    background-color: var(--brand-color) !important;
  }

  .arrow {
    display: none !important;
  }

   /* ==========================================================================
   Modals
   ========================================================================== */

   .modal-dialog{
    max-width: 700px !important;
   }
   .modal-content {
      border-radius:25px !important;
   }
   
   .modal-header, .modal-footer {
    border-bottom:none !important;
    border-top:none !important;
   }

   a.modal-link {
    border:1px solid;
    padding:10px;
    border-radius:20px;
    max-width: 300px;
    
   }

   a.modal-link:hover{
    text-decoration: none !important;
   }

   a.modal-link.border-kdark {
    border-color: var(--dark-color);
    color: var(--dark-color);
   }

   a.modal-link.border-kdark:hover {
    background-color: var(--dark-color);
    
    color: var(--light-color);
   }

   a.modal-link.border-brand {
    border-color:var(--brand-color);
    color:var(--brand-color);
     }

     a.modal-link.border-brand:hover {
      background-color:var(--brand-color);
      color:var(--dark-color);
       }
    
    .modal-btn {
      background-color: var(--dark-color);
      color:var(--light-color);
      border-radius:25px;
      border:none;
      padding:10px;
    }

    .modal-btn:hover{
      background-color: var(--brand-color);
      color:var(--dark-color);
    }

    .choice-card {
      background-color: var(--light-color);
      width: 200px;
      border-radius:30px;
      padding:10px 5px;
  
    }
  
    .choice-card .card-illustration {
      height:80px;
      margin-bottom:20px;
    }
  
    p.choice-title {
      color:var(--dark-color) !important;
    }
  
    p.choice-title:hover, .choice-card a:hover{
      color:var(--mid-color) !important;
      font-weight: bold !important;
      text-decoration: none !important;
    }

/* ==========================================================================
   Call to action
   ========================================================================== */

   .cta-card {
    width:500px;
   }

   img.cta-top-illustration {
    width:300px;
   }

  
  
  .cta-btn {
    width: 200px;
    height: 100px;
    line-height: 50px;
    background-color: var(--dark-color);
    border-radius: 8px;
    color: var(--light-color);
    
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .cta-btn:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    opacity: 0.4;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-name: hover-shadow;
    animation-name: hover-shadow;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .cta-btn:hover {
    background-color: var(--brand-color);
    color:var(--dark-color);
    text-decoration: none;
  }

  @media screen and (max-width:768px){
    .cta-btn {
      width:95% ;
    }
  }
  
  @keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    100% {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @-webkit-keyframes hover-shadow {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      opacity: 0.4;
    }
    50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      opacity: 0.4;
    }
  }
  @keyframes hover-shadow {
    0% {
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      opacity: 0.4;
    }
    50% {
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      opacity: 0.4;
    }
  }
  @-webkit-keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    100% {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }