/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */   
:root {
    --brand-color: #E28413;
    --dark-color: #000022;
    --mid-color: #B09F8B;
    --light-color: #FFFAF3;
    --blue-light-color: #8ecae6;
    --blue-mid-color: #219ebc;
      }


.form-container {
    height:100%;
}

.form-container-small {
    height: 100vh;
}
.abstract-form {
    background-color: var(--mid-color);
    padding:20px;
    color:var(--dark-color);
    width:500px;
    height: fit-content;
    border-radius: 25px;
}

.abstract-form form {
    display: flex;
    justify-content: start;
}

.abstract-form .form-content {
    width:100%;

}

.abstract-form .form-group {
    width: 90%;

}

.abstract-form input, .abstract-form textarea {
    
    display: block;
    border-radius: 10px;
    border: 2px solid var(--dark-color);
    background: var(--light-color);
    position: relative;
}

.abstract-form input:focus {
    border: 2px dashed var(--brand-color);
  outline-offset: 2px;
}

.abstract-form select {
    background-color: var(--light-color) !important;
    padding:5px;
    border-radius:10px;
    border: 2px solid var(--dark-color);
    width:100%;

}

.abstract-form select#id_renewal_date_month{
    width: 45% !important;
}

.abstract-form select#id_renewal_date_day{
    width: 25% !important;
}
.abstract-form select#id_renewal_date_year{
    width: 30% !important;
}

@media screen and (max-width:768px){
    .form-container {
        height:100%;
        margin-top:25%;
        margin-bottom:10%;
    }
    .abstract-form {
        padding-top:20%;
    }
}

.avatar-upload {
    width:100px;
    height: 100px;
    object-fit: cover;
}

.avatar-input {
    width: 100px !important;
  height: 100px !important;
  
  margin: auto;
  
  border-radius: 100%;
  position: relative;
}

.change-image {
    font-size:20px;
    background-color: var(--light-color);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  bottom: 20px;
  left:190px;

}

/* ==========================================================================
   Modals
   ========================================================================== */

div.edit-modal {
    background-color: var(--mid-color) !important;
}

.edit-modal .abstract-form {
    width: 90% !important;
}