/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */   
:root {
    --brand-color: #E28413;
    --dark-color: #000022;
    --mid-color: #B09F8B;
    --light-color: #FFFAF3;
    --blue-light-color: #8ecae6;
    --blue-mid-color: #219ebc;
      }



.abstract-form {
    background-color: var(--mid-color);
    padding:20px;
    color:var(--dark-color);
    width:500px;
    border-radius: 25px;
}

.abstract-form form {
    display: flex;
    justify-content: start;
}

.abstract-form .form-content {
    width:100%;

}

.abstract-form .form-group {
    width: 90%;

}

.abstract-form input {
    
    display: block;
    border-radius: 10px;
    border: 2px solid var(--dark-color);
    background: var(--light-color);
    position: relative;
}

.abstract-form input:focus {
    border: 2px dashed var(--brand-color);
  outline-offset: 2px;
}

.abstract-form select {
    background-color: var(--light-color) !important;
    padding:5px;
    border-radius:10px;
    border: 2px solid var(--dark-color);
    width:100%;

}