{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans 'Ajouter un véhicule' %}{% endblock title %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container form-container d-flex mt-5 pt-5">
    <div class="abstract-form v-abstract-form mx-auto">
        <div class="text-center">
            <img src="{% static 'assets/img/top-illustration/toy_car.svg' %}" alt="Charges sharing" class="form-top-illustration">
        </div>
        <h3 class="text-center">{% trans 'Ajouter un véhicule' %}</h3>
        <div class="row justify-content-center">
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <label>{% trans 'Nom du véhicule' %}<span class="">*</span>:</label>
                            {{ form.name }}
                            <span class="light-color">{{form.name.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans 'Immatriculation' %}:</label>
                            {{ form.immatriculation }}
                            <span class="light-color">{{form.immatriculation.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Prix d'achat" %}<span class="">*</span>:</label>
                            {{ form.price }}
                            <span class="light-color">{{form.price.errors}}</span>
                        </div>

                        <div class="form-group">
                            <label>{% trans "Énergie" %}<span class="">*</span>:</label>
                            {{ form.energy }}
                            <span class="light-color">{{form.energy.errors}}</span>
                        </div>

                        <div class="form-group">
                            <label>{% trans "Nombre de co-propriétaires" %}<span class="">*</span>:</label>
                            {{ form.nb_users }}
                            <span class="light-color">{{form.nb_users.errors}}</span>
                        </div>
                
                        <p>*  {% trans 'Champs obligatoires' %}</p>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-kdark rounded-btn">{% trans 'Enregistrer' %}</button>
                        </div>
                </form>
            </div>
         </div>
    </div>
</div>
{% endblock content %}