{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Partipations à l'assurance" %}{% endblock title %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container form-container-small d-flex">
    <div class="abstract-form v-abstract-form mx-auto my-auto">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        <div class="text-center">
            <img src="{% static 'assets/img/top-illustration/insurance.svg' %}" alt="Charges sharing" class="cta-top-illustration">
        </div>
        <h3 class="text-center">{% trans 'Qui a payé quoi ?' %}</h3>
        <div class="row justify-content-center">
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <label>{% trans 'Copropriétaire' %}<span class="">*</span>:</label>
                            
                            {% for user in users %}
                            <input type="checkbox" name="user" value="{{ user.id }}"/>{{ user.username }}</input>

                            {% endfor %} 
                        </div>
                        <div class="form-group">
                            <label>{% trans 'A payé' %}<span class="">*</span>:</label>
                            {{form.price_paid}}
                            
                        </div>
                        

                        

                        
                
                        <p>*  {% trans 'Champs obligatoires' %}</p>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-kdark rounded-btn">{% trans 'Enregistrer' %}</button>
                        </div>
                </form>
            </div>
         </div>
    </div>
</div>
{% endblock content %}