{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans 'Actualiser ' %}{{car.name}}{% endblock title %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container form-container d-flex">
    <div class="abstract-form v-abstract-form mx-auto my-auto">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        <div class="text-center">
            <img src="{% static 'assets/img/top-illustration/insurance.svg' %}" alt="Charges sharing" class="form-top-illustration">
        </div>
       
        <div class="row justify-content-center">
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        
                        
                            
                             <div class="form-group text-center">
                       

                    <div class="profile-minicard mt-3">
                        <img src={{participation.user.avatar.url}} alt="{{ participation.user.username }}">
                        <p>{{ participation.user.username }}</p>
                         </div>
                        
                        <div class="form-group">
                            <label>{% trans "Contribution" %}<span class="">*</span>:</label>
                            {{ form.price_paid }}
                        </div>
                        
                   
              
                </div>
                
                        
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-kdark rounded-btn">{% trans 'Enregistrer' %}</button>
                            <a href="{% url 'update_insurance' insurance.id %}" class="btn btn-kbrand rounded-btn" >{% trans 'Annuler' %}</a>
                        </div>
                </form>
            </div>
         </div>
    </div>
</div>

 

{% endblock content %}