{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Modifier la facture d'énergie" %}{% endblock title %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container form-container-small d-flex">
      <div class="abstract-form v-abstract-form mx-auto my-auto">
        
        <div class="text-center">
            <img src="{% static 'assets/img/top-illustration/add_energy.svg' %}" alt="Charges sharing" class="form-top-illustration">
        </div>
        <h3 class="text-center mt-3">{% trans "Modifier la facture d'énergie" %}</h3>
        <div class="row justify-content-center">
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% if car.energy == "hybride rechargeable" %}
                         <div class="form-group">
                            <label>{% trans 'Énergie' %}<span class="">*</span>:</label>
                            {{form.type_energy}}
                            <span class="light-color">{{form.type_energy.errors}}</span>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label>{% trans 'Somme' %}<span class="">*</span>:</label>
                            {{form.price}}
                            <span class="light-color">{{form.price.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Quantité" %}<span class="">*</span>:</label>
                            {{form.quantity}}
                            <span class="light-color">{{form.quantity.errors}}</span>
                        </div>
                        
                        <div class="form-group">
                            <label>{% trans "Payé par" %}<span class="">*</span>:</label>
                            <select name="paid_by">
                                <option value="{{paid_by.id}}" selected="selected">{{paid_by.username}}</option>
                                {% for user in users %}
                                <option value={{user.id}}>{{user.username}}</option>
                                {% endfor %}
                            </select>
                            <span class="light-color">{{form.paid_by.errors}}</span>
                        </div>
                       
                        <div class="form-group">
                            <label>{% trans "Facture payée le" %}<span class="">*</span>:</label>
                            {{form.paid_day}}
                            <span class="light-color">{{form.paid_day.errors}}</span>
                        </div>
                
                        <p>*  {% trans 'Champs obligatoires' %}</p>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-kdark rounded-btn">{% trans 'Enregistrer' %}</button>
                            <a href="{% url 'costs_detail' car.slug %}" class="btn btn-kbrand rounded-btn" >{% trans 'Annuler' %}</a>
                        </div>
                </form>
            </div>
         </div>
    </div>
</div>
{% endblock content %}