{% extends "base.html" %}
{% load i18n static mathfilters %}
{% block title %}{{car.name}}{% endblock %}

{% block content %}

<div class="container pt-5 pb-5 mb-5">
    {% include 'includes/header.html' %}




        <div class="row text-center">
        {% for post_it in post_its %}
            <div class='post-it' style="background-color:{{post_it.color}};">
	<p>{{post_it.message}}</p>
    <p class="post_it-sender text-center">{{post_it.sender}}</p>
 
      
</div>
        {% endfor%}
            <div class="col-12 mt-5">
                <img class="car-picture mx-auto" src="{% static 'assets/img/car-picture1.png' %}" alt="car_picture">
                <p class="">{{ car.name }}</p>
                <p class="">{{ car.immatriculation }}</p>
                <p>{% trans 'Partagée entre' %}
                {% for user in car.users.all %}
                    <div class="profile-minicard">
                    <img src={{user.avatar.url}} alt="{{ user.username }}">
                    <p>{{ user.username }}</p>
                    </div>
               {% endfor %}
               <h2 class="title-sketch-highlight big-title text-center mt-5">{% trans 'Statistiques générales' %}</h2>
            </div>

            

            <div class="chart-container">
        <canvas id="comparatif" width="400" height="400"></canvas>
    </div>
        </div>
   

{% include 'cars/charges.html' %}




{% include 'cars/kilometers.html' %}




<div class="row d-flex justify-content-center">
    <div class="navbar footer-navbar">
    <a class="active text-center" href="#charges"><span class="icon" data-icon="&#40;"></span></br>{% trans 'Charges' %}</a>
    <a class="text-center" href="#kilometers"><span class="icon" data-icon="&#38;"></span></br>{% trans 'Km' %}</a>
    <a class="text-center" href="#"><span class="icon" data-icon="&#70;"></span></br>{% trans 'Résa' %}</a>
    <a  class= "text-center" href="#"><span class="icon" data-icon="&#113;"></span></br>{% trans 'Post-it' %}</a>
    </div>
</div>


</div>
{% endblock %}

{% block extrajs %}

<script>
// jquery function
$(document).ready(function(){
        
        var backgroundColors = [
                        'rgba(226, 132, 19, 0.8)', //brand-color
                        'rgba(0, 0, 34, 0.8)', //dark-color
                        'rgba(176, 159, 139, 0.8)', //mid-color
                        'rgba(33, 158, 188, 0.8)', //light-blue
                        'rgba(142, 202, 230, 0.8)', //blue
                        
                    ];
        const labels = [{%for data in totals_paid_by_user%}'{{data.user}}',{%endfor%}];
const data = {
  labels: labels,
  datasets: [{
    label: '% {% trans 'Charges' %}',
    data: [{%for data in totals_paid_by_user%}{{data.paid_by_user|mul:100|div:total_charges|floatformat:2}},{%endfor%}],
    backgroundColor: 'rgba(226, 132, 19, 0.8)',
    
  }, {
    label: '% {% trans 'Kilomètres' %}',
    data: [{%for data in trips_by_user%}{{data.nb_km_trip|mul:100|div:nb_km_total|floatformat:2}},{%endfor%}],
    backgroundColor: 'rgba(0, 0, 34, 0.8)',
    
    
  }
  
  ]
};
        
        var ctx_compar = document.getElementById('comparatif').getContext('2d');
        
        var myChart = new Chart(ctx_compar, {
            type: 'bar',
            data: data,
            options: {
                responsive:true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
        var ctx = document.getElementById('totalCharges').getContext('2d');
       
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{%for data in totals_paid_by_user%}'{{data.user}}',{%endfor%}], //loop through queryset, 
                datasets: [{
                    label: '',
                    data: [{%for data in totals_paid_by_user%}{{data.paid_by_user}},{%endfor%}],
                    backgroundColor: backgroundColors,
                    
                }]
            },
            options: {
                responsive:true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
        var ctx_repart = document.getElementById('repartCharges').getContext('2d');
        var repartChart = new Chart(ctx_repart, {
            
            type: 'doughnut',
            data: {
                labels: ['car', 'insurance', 'energy', 'repairs'], //loop through queryset, 
                datasets: [{
                    label: '',
                    data: [{{car.price}}, {{insurance_price}}, {{total_energy}}, {{total_repairs}}],
                    backgroundColor: backgroundColors,
                    
                }]
            },
            options: {
                responsive:true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
        var ctx_km = document.getElementById('kilometers').getContext('2d');
        var kmChart = new Chart(ctx_km, {
            
            type: 'doughnut',
            data: {
                labels: [{%for data in trips_by_user %}'{{data.user}}',{%endfor%}], //loop through queryset, 
                datasets: [{
                    label: '',
                    data: [{%for data in trips_by_user %}{{data.nb_km_trip }},{%endfor%}],
                    backgroundColor: backgroundColors,
                    
                }]
            },
            options: {
                responsive:true,
                maintainAspectRatio: false,
                skipNull: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: false
                    }
                },

                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
    });
</script>


{% endblock %}