{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{car.name}}{% endblock %}

{% block content %}

<div class="container pt-5 pb-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="navbar header-navbar">
        <a class="active text-center" href="#"><span class="icon" data-icon="&#83;"></span></br>{% trans 'Menu' %}</a>
        <a class="text-center" href="#"><span class="icon" data-icon="&#80;"></span></br>{% trans 'Profil' %}</a>
        <a class="text-center" href="{% url 'logout' %}"><span class="icon" data-icon="&#73;"></span></br>{% trans 'Descendre' %}</a>
        <a  class= "text-center" href="#"><span class="icon" data-icon="&#74;"></span></br>{% trans 'Notifs' %}</a>
        </div>
    </div>




        <div class="row text-center">
            <div class="col-12 mt-5">
                <img class="car-picture mx-auto" src="{% static 'assets/img/car-picture1.png' %}" alt="car_picture">
                <p class="">{{ car.name }}</p>
                <p class="">{{ car.immatriculation }}</p>
                <p>{% trans 'Partagée entre' %}
                {% for user in car.users.all %}
                    <div class="profile-minicard">
                    <img src={{user.avatar.url}} alt="{{ user.username }}">
                    <p>{{ user.username }}</p>
                    </div>
               {% endfor %}
            </div>
        </div>
   

{% include 'cars/charges.html' %}

{% include 'cars/kilometers.html' %}





<div class="row d-flex justify-content-center">
    <div class="navbar footer-navbar">
    <a class="active text-center" href="#charges"><span class="icon" data-icon="&#40;"></span></br>{% trans 'Charges' %}</a>
    <a class="text-center" href="#kilometers"><span class="icon" data-icon="&#38;"></span></br>{% trans 'Km' %}</a>
    <a class="text-center" href="#"><span class="icon" data-icon="&#70;"></span></br>{% trans 'Résa' %}</a>
    <a  class= "text-center" href="#"><span class="icon" data-icon="&#113;"></span></br>{% trans 'Post-it' %}</a>
    </div>
</div>

</div>
{% endblock %}