{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Charges' %}{% endblock %}

{% block content %}
<div class="container pt-5 pb-5 mb-5">
    {% include 'includes/header.html' %}
    <div class="text-center mt-3">
    <img src="{% static 'assets/img/top-illustration/charges.svg' %}" alt="Charges sharing" class="page-top-illustration">
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <!-- Purchase card -->
        <div class="col-md-5 text-center details-card mb-5">
        
            <h4 class="dark-color">{% trans 'Achat' %}</h4>
            <p class="text-center amount-info">{{car.price}} €</p>
            {% if car_paid_by == None %}
                <p>Précisez qui a payé</p>
            {% else %}
                {% for i in car_paid_by %}
                    <div class="profile-minicard mt-3">
                        <img src={{i.user.avatar.url}} alt="{{ i.user.username }}">
                        <p>{{ i.user.username }}</p>
                        <p class="amount-info">{{i.price_paid}} €</p>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="kborder-bottom mt-5"></div>
        </div>

        <!-- Insurance Card -->
        <div class="col-md-5 text-center details-card mb-5">
       
            <h4 class="dark-color">
                {% if current_assurance == None %}
                    <span class="icon alert-icon brand-color" data-icon="&#228;"></span>
                {% endif%}
                {% trans 'Assurance' %}
            </h4>
            {% if current_insurance == None %}
                <a href="#" class="rounded-btn transparent">{% trans 'Ajouter Assurance en cours' %}</a>
            {% endif %}
            {% if insurances %}
            <table class="table table-border-less mt-3">
                <thead>
                    <tr>
                        <th scope="col"><span class="icon alert-icon brand-color" data-icon="&#70;"></span></th>
                        <th scope="col"><span class="icon alert-icon brand-color" data-icon="&#126;"></span></th>
                        {% for user in users %}
                        <th scope="col"><img class="profile-table" src={{user.avatar.url}} alt={{user.username}}></th>
                        {% endfor %}
                        <th scope="col"><span class="icon alert-icon brand-color" data-icon="&#106;"></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for insurance in insurances%}
                    <tr>
                        <th><p>{{insurance.renewal_date | date:'d-m-Y '}}</p></th>
                        <th><p>{{insurance.price}} €</p></th>
                        {% for user_part in users%}
                            {% for i in insurances_by_user %}
                                {% if i.user == user_part and i.insurance == insurance %}
                                    <th>{{i.price_paid}} €</th>
                                    
                               {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <th><a><span class="icon alert-icon dark-color" data-icon="&#110;"></span></a></th>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if is_more_insurances %}
            <a href="#" class="rounded-btn btn-kdark">{% trans 'Voir plus' %}</a>
            {% endif %}
            <div class="kborder-bottom mt-5"></div>
        </div>

        <!-- Energy Card -->
        <div class="col-md-5 text-center details-card mb-5">
            <h4 class="dark-color">{% trans 'Énergie' %}</h4>
            {% for i in energy_by_user %}
                    <div class="profile-minicard mt-3">
                        <img src={{i.user.avatar.url}} alt="{{ i.user.username }}">
                        <p>{{ i.user.username }}</p>
                        <p class="amount-info">{{i.total_paid}} €</p>
                    </div>
                {% endfor %}
            <div class="row justify-content-center mt-3">
            
            {% for bill in all_energy %}
            <div class="col-md-5 col-6">
            
                <div class="paper paper-rounded">
                <p>
                    {% if bill.type_energy == "essence" %}
                        <span class="icon energy-icon" data-icon="&#203;"></span>
                    {% endif %}
                        <span class="brand-color">{{bill.quantity}}
                        {% if bill.type_energy == "essence" %}
                        L
                        {% endif %}
                        </span>
                </p>
                    <p class="amount-info mb-3"><span class="icon" data-icon="&#67;"> {{ bill.price }} €</p>
                    <p><span class="icon energy-icon dark-color" data-icon="&#80;"> <span class="brand-color">{{bill.paid_by.username}}</span></p>
                    <p><span class="icon energy-icon dark-color" data-icon="&#70;"></span> <span class="brand-color">{{ bill.paid_day | date:'d-m-Y '}}</span></p>
                    <div class="text-right mr-3 pb-3">
                    <a><span class="icon  dark-color" data-icon="&#110;"></span></a>
                    </div>
                </div>
            
            </div>
            {% endfor %}
            
            </div>
            <div class="kborder-bottom mt-5 d-block d-md-none d-lg-none d-xl-none"></div>
        </div>

        <!-- Repairs Card -->
        <div class="col-md-5 text-center details-card mb-5">
            <h4 class="dark-color">{% trans 'Entretien & Réparations' %}</h4>
            <div class="row justify-content-center mt-3">
            
            {% for bill in all_energy %}
            <div class="col-md-5 col-6">
            
                <div class="paper paper-rounded">
                <p>
                    {% if bill.type_energy == "essence" %}
                        <span class="icon energy-icon" data-icon="&#203;"></span>
                    {% endif %}
                        <span class="brand-color">{{bill.quantity}}
                        {% if bill.type_energy == "essence" %}
                        L
                        {% endif %}
                        </span>
                </p>
                    <p class="amount-info mb-3"><span class="icon" data-icon="&#67;"> {{ bill.price }} €</p>
                    <p><span class="icon energy-icon dark-color" data-icon="&#80;"> <span class="brand-color">{{bill.paid_by.username}}</span></p>
                    <p><span class="icon energy-icon dark-color" data-icon="&#70;"></span> <span class="brand-color">{{ bill.paid_day | date:'d-m-Y '}}</span></p>
                    <div class="text-right mr-3 pb-3">
                    <a><span class="icon  dark-color" data-icon="&#110;"></span></a>
                    </div>
                </div>
            
            </div>
            {% endfor %}
            </div>

        </div>

    </div>

    {% include 'includes/navbar-footer.html' %}

</div>
{% endblock %}