{% load i18n %}

<section id="kilometers-section" class="text-center mt-5">

    <h2 class="title-sketch-highlight">{% trans 'Km' %}</h2>

    <h4>{% trans 'Total km' %}</h4>

    <p class="text-center amount-info">{{nb_km_total}} km</p>

    {% for trips in trips_by_user %}
    <div class="profile-minicard mt-3">
        <img src={{trips.user.avatar.url}} alt="{{ user.username }}">
                    <p>{{ trips.user.username }}</p>
                    <p class="amount-info">{{ trips.nb_km_trip}} km</p>
                    </div>

    {% endfor %}

{% if trips_by_user %}
    <div class="chart-container">
        <canvas id="kilometers" width="400" height="400"></canvas>
    </div>
{% endif %}

<a href="{% url 'trips_detail' car.slug car.id %}" class="rounded-btn btn-kdark">{% trans 'Regarder sous le capot' %}</a>

   


</section>