{% load i18n mathfilters avatar %}

<section id="kilometers-section" class="text-center mt-5">

    <h2 class="title-sketch-highlight">{% trans 'Km' %}</h2>
    {% if nb_km_total == 0 %}
    <div class="mt-5 mb-3">
    <a href="{% url 'add_trip' car.id %}" class="rounded-btn btn-kbrand">{% trans "Ajouter un trajet" %}</a>
    </div>
    {% else %}
    <h4>{% trans 'Total km' %}</h4>

    <p class="text-center amount-info">{{nb_km_total}} km</p>

    {% for trips in trips_by_user %}
    <div class="profile-minicard mt-3">
        {% if trips.user.avatar %}
        <img src={{trips.user.avatar.url}} alt="{{ user.username }}">
        {% else %}
        {{ trips.user |avatar}}
        {% endif %}
                    <p>{{ trips.user.username }}</p>
                    <p class="amount-info">{{ trips.nb_km_trip}} km</p>
                    <p>{{trips.nb_km_trip|mul:100|div:nb_km_total|floatformat:2}} %</p>
                    </div>

    {% endfor %}

{% if trips_by_user %}
    <div class="chart-container">
        <canvas id="kilometers" width="400" height="400"></canvas>
    </div>
{% endif %}
<a href="{% url 'trips_detail' car.slug  %}" class="rounded-btn btn-kdark">{% trans 'Regarder sous le capot' %}</a>
{% endif %}



   


</section>