{% extends 'base.html' %}
{% load static i18n %}
{% block title%}{{user.username}}{%endblock%}
{% block content %}
    {% include 'includes/header.html' %}
    <div class="container pt-5 pb-5 mb-5">
        <div class="row text-center pt-md-5 mt-md-5 d-flex justify-content-center">
            <div class="col-12">
            <div class="profile-card">
                    <img src={{user.avatar.url}} alt="{{ user.username }}">
                    <p>{{ user.username }}</p>
                    </div>
            
            </div>
            <div class="col-md-3">
                <div class="profile-detail-card brand-border">
                <h5>{% trans "Réservations à confirmer" %}</h5>
                {% if reservations_to_confirm %}
                    {% for reservation in reservations_to_confirm %}
                        <div class="detail-card">
                        <p>{% trans "Demande de" %} {{reservation.user}}</p>
                        <p>{% trans 'du' %} {{reservation.reservation_start| date:'d-m'}} {% trans 'au' %} {{reservation.reservation_end | date:'d-m '}}</p>
                        <div class="confirm-icons">
                            <button onclick="open_modal('{% url 'confirm_reservation' reservation.id %}');"
								            type="button" class="btn-klink"><span class="icon  brand-color" data-icon="&#217;"></span></button>
                            <button onclick="open_modal('{% url 'confirm_reservation' reservation.id %}');"
								            type="button" class="btn-klink"><span class="icon  brand-color" data-icon="&#249;"></span></button>
                            
                        </div>
                        
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="info-card">
                        <p>{% trans 'Aucune réservation en attente' %}</p>
                    </div>
                {% endif %}
                </div>
                
            </div>
        </div>
    </div>




<div class="modal fade" id="show_modal" role="dialog">
</div>



    {% include 'includes/navbar-footer.html' %}
{% endblock%}