{% load static i18n %}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% trans "Inviter les autres co-propriétaires" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p class="text-center">{{car.id}}</p>
          <button id="copy-btn" class="btn-kbrand rounded-btn" data={{car.id}}>{% trans "Copier l'invitation" %}</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-kdark rounded-btn" data-dismiss="modal">{% trans 'Fermer' %}</button>
          
        </div>
      </div>
    </div>
</div>