{% extends "base.html" %}
{% load i18n static avatar %}
{% block title %}{% trans 'Envoyer un post-it' %}{{car.name}}{% endblock title %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container form-container-small d-flex ">
    <div class="abstract-form v-abstract-form mx-auto my-auto ">
        
               <div class="text-center">
            <img src="{% static 'assets/img/top-illustration/post_it.svg' %}" alt="send postit" class="form-top-illustration">
        </div>
        <h3 class="text-center mt-3">{% trans 'Coller un post-it' %}</h3>
        <div class="row justify-content-center">
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
             
                        <div class="form-group">
                            
                            {{ form.message}}
                            <span class="light-color">{{form.message.errors}}</span>
                        </div>
                        
                        

                        
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-kdark rounded-btn" name="update_car">{% trans 'Enregistrer' %}</button>
                            <a href="{% url 'car_detail' car.slug %}" class="btn btn-kbrand rounded-btn" >{% trans 'Annuler' %}</a>
                        </div>
                </form>
            </div>
         </div>
    </div>
</div>

   

{% endblock content %}

{% block extrajs %}
<script>
const fileSelect = document.getElementById("fileSelect"),
  fileElem = document.getElementById("fileElem"),
  fileList = document.getElementById("fileList");
  changeImage= document.getElementById("changeImage");

fileSelect.addEventListener(
  "click",
  (e) => {
    if (fileElem) {
      fileElem.click();
    }
    e.preventDefault(); // prevent navigation to "#"
  },
  false
);

fileElem.addEventListener("change", handleFiles, false);

function handleFiles() {
  if (!this.files.length) {
    fileList.innerHTML = "<p>No files selected!'</p>";
  } else {
    fileList.innerHTML = "";
    const list = document.createElement("ul");
    fileList.appendChild(list);
    for (let i = 0; i < this.files.length; i++) {
      const li = document.createElement("li");
      list.appendChild(li);

      const img = document.createElement("img");
      img.src = URL.createObjectURL(this.files[i]);
      img.height = 60;
      img.className = "rounded-circle avatar-upload";
      img.onload = () => {
        URL.revokeObjectURL(img.src);
      };
      
      li.appendChild(img);
      
      const info = document.createElement("span");
      info.innerHTML = `${this.files[i].name}`;
      li.appendChild(info);
      changeImage.style.display = "none";

    }
  }
}
</script>
{% endblock extrajs%}