{% extends 'base.html'%}
{% load i18n %}

{% block title%}{% trans "Conditions d'utilisation" %}{% endblock %}

{% block content %} 
{% include 'includes/header.html'%}

<div class="container mt-5 pt-5">

<h1 class="text-center pt-5 mt-5 pb-3">Conditions d'utilisation</h1>

    <p>Merci d'utiliser notre application web pour la gestion de voiture partagée. Les conditions suivantes régissent votre
        utilisation de cette application :</p>

    <h2>Acceptation des conditions</h2>

    <p>En utilisant notre application, vous acceptez pleinement et sans réserve les présentes conditions d'utilisation.
        Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser l'application.</p>

    <h2>Utilisation de l'application</h2>

    <p>L'application est destinée à faciliter la gestion d'une voiture partagée par plusieurs copropriétaires. Vous pouvez
        utiliser l'application pour :</p>

    <ul>
        <li>Planifier et organiser les plages horaires d'utilisation de la voiture.</li>
        <li>Gérer les réservations et les utilisateurs autorisés à utiliser la voiture.</li>
        <li>Consulter les informations relatives à la voiture, telles que l'état, l'historique des utilisations, etc.</li>
    </ul>

    <h2>Responsabilités de l'utilisateur</h2>

    <p>En utilisant l'application, vous vous engagez à respecter les obligations suivantes :</p>

    <ul>
        <li>Fournir des informations exactes, à jour et complètes lors de l'inscription et de l'utilisation de l'application.</li>
        <li>Utiliser l'application conformément aux lois en vigueur et aux présentes conditions d'utilisation.</li>
        <li>Respecter les droits des autres utilisateurs et ne pas perturber leur utilisation de l'application.</li>
        <li>Prendre toutes les mesures nécessaires pour maintenir la confidentialité de vos identifiants de connexion.</li>
    </ul>

    <h2>Propriété intellectuelle</h2>

    <p>Tous les droits de propriété intellectuelle liés à l'application (y compris, mais sans s'y limiter, les droits d'auteur,
        les marques de commerce, les droits de brevet) sont la propriété de l'entreprise exploitant l'application. Vous
        n'êtes pas autorisé à reproduire, distribuer, modifier ou utiliser de quelque manière que ce soit le contenu
        de l'application sans autorisation préalable.</p>

    <h2>Limitation de responsabilité</h2>

    <p>L'utilisation de l'application se fait à vos propres risques. L'entreprise exploitant l'application ne pourra être
        tenue responsable de tout dommage direct, indirect, accidentel, consécutif ou spécial résultant de l'utilisation
        ou de l'incapacité d'utiliser l'application, y compris les pertes de données ou les dommages causés à votre équipement
        informatique.</p>

    <h2>Modification des conditions</h2>

    <p>L'entreprise exploitant l'application se réserve le droit de modifier les présentes conditions d'utilisation à tout
        moment. Les modifications seront publi
</div>
{% endblock%}