Authentication forms : https://codepen.io/novaardiansyah1/pen/JjKgrBm
Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
<a target="_blank" href="https://icons8.com/icon/110229/add">Add</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<div> Iconos diseñados por <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons"> Smashicons </a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es'</a></div>
<a href="https://www.flaticon.es/iconos-gratis/sur" title="sur iconos">Sur iconos creados por Freepik - Flaticon</a>