{% load i18n static %}

<div class="row d-flex justify-content-center">
    <div class="navbar footer-navbar">
    <a class="text-center cost__toggler" href="#" ><span class="icon" data-icon="&#40;"></span></br>{% trans 'Charges' %}</a>
        <div class="cost__slide">
        
            <a class="cost__slide__item" href="#" data-toggle="modal" data-target="#add-charge-modal" style="font-size:40px;">+</a>
            <a class="cost__slide__item" href="{% url 'costs_detail' car.slug %}">Tout voir</a>

        </div>
    <a class="text-center trip__toggler" href="#"><span class="icon" data-icon="&#38;"></span></br>{% trans 'Km' %}</a>
      <div class="trip__slide">
        
            <a class="trip__slide__item" href="{% url 'add_trip' car.id%}" style="font-size:40px;">+</a>
            <a class="trip__slide__item" href="{% url 'trips_detail' car.slug %}">Tout voir</a>

        </div>
    <a class="text-center" href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Fonction bientôt dispo' %}"><span class="icon" data-icon="&#70;"></span></br>{% trans 'Résa' %}</a>
    <a  class= "text-center" href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Fonction bientôt dispo' %}"><span class="icon" data-icon="&#113;"></span></br>{% trans 'Post-it' %}</a>
    </div>
</div>

<!-- Modals -->

<!-- Add charge modal-->

<div class="modal fade " id="add-charge-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content edit-modal">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h3 class="text-center">{% trans 'Ajouter une dépense' %}</h3>
          <div class="row mt-5">
            <div class="col">
              <div class="choice-card">
                <a href={% url 'add_energy' car.id %}>
                  <img src="{% static 'assets/img/top-illustration/add_energy.svg' %}" alt="Charges sharing" class="card-illustration">
                  <p class="choice-title">{% trans 'Énergie' %}</p>
                </a>
              </div>
            </div>

            <div class="col">
              <div class="choice-card">
                <a href={% url 'add_repair' car.id %}>
                    <img src="{% static 'assets/img/top-illustration/repair.svg' %}" alt="Charges sharing" class="card-illustration">
                    <p class="choice-title">{% trans 'Entretien/Réparation' %}</p>
                </a>
              </div>
            </div>

            <div class="col">
              <div class="choice-card">
                <a href={% url 'create_insurance' car.id %}>
                    <img src="{% static 'assets/img/top-illustration/insurance.svg' %}" alt="Charges sharing" class="card-illustration">
                    <p class="choice-title">{% trans 'Assurance' %}</p>
                </a>
              </div>
            </div>
         </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-kbrand rounded-btn" data-dismiss="modal">{% trans 'Annuler' %}</button>
          
        </div>
      </div>
    </div>
  </div>





