{% extends "base.html" %}
{% load i18n static %}
{% block content %}
{% include 'includes/header.html' %}

{% if cars %}
<div class="container pt-5">
<div class="row text-center mt-5 pt-5">
    {% for car in cars %}
        <div class="col-md-6">
            <a href={% url 'car_detail' car.id car.slug %}>
                <div class="col-12 mt-5">
                    <img class="car-picture mx-auto" src="{% static 'assets/img/car-picture1.png' %}" alt="car_picture">
                    <p class="">{{ car.name }}</p>
                    <p class="">{{ car.immatriculation }}</p>
                    <p>{% trans 'Assurance à renouveler le '%} : <span></span>
                    <p>{% trans 'Partagée entre' %}
                    {% for user in car.users.all %}
                        <div class="profile-minicard">
                        <img src={{user.avatar.url}} alt="{{ user.username }}">
                        <p>{{ user.username }}</p>
                        </div>
                    {% endfor %}
                </div>
            </a>
      </div>
    {% endfor %}
  </div>



{% else %}
<div class="container d-flex" style="height:100vh;">
    <div class="cta-card my-auto mx-auto text-center">
    <h3 class="text-center">{% trans 'Bonjour' %} {{request.user.username}} ! </h3>
    <img src="{% static 'assets/img/top-illustration/toy_car.svg' %}" alt="Charges sharing" class="cta-top-illustration">
      <h3 class="text-center">{% trans "C'est le moment de monter en voiture !" %}</h3>
      <div class="row d-flex justify-content-center mt-5 ">
       
            <div class="col-6">
                
                    <a href="{% url 'add_car' %}" class="cta-btn">{% trans 'Ajouter un véhicule' %}</a>
                
            </div>

            <div class="col-6">
                
                    <a href="{% url 'join_car'%}" class="cta-btn">{% trans 'Rejoindre un véhicule' %}</a>
                
            </div>
        
       
      </div>
      
    </div>


{% endif %}
</div>


{% endblock %}